<h1>Coin Change Machine</h1>
<form action="coin_combo">
  <div class="form-group">
    <label for="coin_combo">Enter in the amount of money to receive the change</label>
    <input id="coin_combo" name="coin_combo" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
